<h2 class="center contributors"><span *ngIf="currentRoute === '/admin'">Edit </span>Contributors</h2>

<div class="card wholecard" *ngFor="let contributor of contributors | async">
  <div class="card-body">
    <h3 (click)="goToDetailPage(contributor)">{{contributor.organization}}'s {{contributor.project}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{contributor.description}}
      <hr>
      <app-edit-contributor [selectedContributor]="contributor"></app-edit-contributor>
    </div>
  </div>
</div>
