<div class="card">
  <div class="card-header">
    <h3>Add New Album to Inventory</h3>
  </div>
  <div class="card-body">
    <label>Album Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div class="card-body">
    <label>Album Artist:</label>
    <br>
    <input #newArtist>
  </div>

  <div class="card-body">
    <label>Album Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
</div>
<br>

<button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value); newTitle.value=''; newArtist.value=''; newDescription.value=''" class="btn btn-primary">Add</button>

<div>
  <app-marketplace></app-marketplace>
</div>
