<div class="card">
  <div class="card-header">
    <h3>Add New Contributor's to Inventory</h3>
  </div>
  <div class="card-body">
    <label>Contributor's Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div class="card-body">
    <label>Contributor's Artist:</label>
    <br>
    <input #newArtist>
  </div>

  <div class="card-body">
    <label>Contributor's Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>

  <div class="card-body">
    <label>Contributor's Price:</label>
    <br>
    <input #newPrice>
  </div>
</div>
<br>

<button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value, newPrice.value); newTitle.value=''; newArtist.value=''; newDescription.value=''; newPrice.value=''" class="btn btn-primary">Add</button>

<div>
  <app-contributors></app-contributors>
</div>
