.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: lightblue;
  padding: 15px;
}

.navbar {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: lightgreen;
  padding: 15px;
}

h1 {
  text-align: center;
}

.main-content {
  margin-bottom: 80px;
}

label, input {
  display: block;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: table;
}
